<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.celebe.challenge.user.mapper.UserMapper">

    <select id="selectUserByPublicId" resultType="User">
         SELECT id
                , public_id
                , email
                , nickname
                , name
                , thumbnail_url
                , follower_count
                , following_count
                , post_count
                , is_active
                , created_at
           FROM users
          WHERE public_id = #{publicId}
    </select>

    <select id="existsByPublicId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
              FROM users
             WHERE public_id = #{publicId}
               AND is_active = 1
        )
    </select>

</mapper>